<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.andrano.light"
    android:versionCode="6"
    android:versionName="1.23" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.CAMERA"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.andrano.light.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver 
            android:name="de.andrano.light.LightProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
        
        <receiver 
            android:name="de.andrano.light.LightReceiver">
            <intent-filter>
                <action android:name="de.andrano.light.receiver"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
